.app{
  /* bordure blanche avec ombre noir tout autour et avec un padding  */
  border: 1px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.drop-down-room {
    display: flex;
    justify-content: center;
} 

.drop-down-room select {

  width: 185px;
  margin: 10px;
  padding: 5px 5px;
  box-shadow: 0 0 5px rgba(102, 101, 101, 0.5);
  /*decale un peu vers la droite*/

}